{% extends 'layout.html' %}

{% block body %}
<script type="text/javascript" src="js/verhoeff.js"></script>
<h1>Add Family</h1>
{% from 'includes/_formhelpers.html' import render_field %}
<form action="" id="form" method="post">
  <div class="form-group">
    {{render_field(form.name, class_="form-control")}}
  </div>

  <div class="form-group">
    {{render_field(form.plot_number, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.gut_number, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.layout, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.mouza, class_="form-control")}}
  </div>

  <div class="form-group">
    {{render_field(form.occupation, class_="form-control")}}
  </div>

  <div class="form-group">
    {{render_field(form.mobile_number, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.uuid, class_="form-control", id="uuid")}}
  </div>
  <div class="form-group">
    {{render_field(form.adults_count, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.children_count, class_="form-control")}}
  </div>

  <input type="button" onclick="checkUUID()" name="Create" value="Add" class="btn btn-primary">
</form>
{% endblock %}
