{% extends 'layout.html' %}

{% block body %}
  <h1>Families</h1>
  <div id="family-form" class="" action="#">
    <div class="form-group">
      <label for="aadhaar">Aadhaar Number</label>
      <input type="number" id="uuid" class="form-control" name="aadhaar">
    </div>
    <div class="form-group">
      <input type="button" class="form-control btn btn-disabled" id="search" value="Enter a valid Aadhaar number" disabled="true" name="Search">
    </div>
  </div>
  <div id="results">
    <div class="spinner-border" id="loading-icon" style="display:none" role="status"><span class="sr-only">Loading...</span></div>
    <div class="card border-primary" id="result-card" style="display: none">
      <div class="card-header" id="cell-uuid">

      </div>
      <div class="card-body">
        <h5 class="card-title" id="cell-name"></h5>
        <p>

          <table class="table">
            <tr>
              <th>Plot Number</th>
              <td id="cell-plot-number"></td>
              <th>Gut Number</th>
              <td id="cell-gut-number"></td>
              <th>Layout</th>
              <td id="cell-layout"></td>
            </tr>
            <tr>
              <th>Mouza</th>
              <td id="cell-mouza"></td>
              <th>Occupation</th>
              <td id="cell-occupation"></td>
              <th>Mobile Number</th>
              <td id="cell-mobile-number"></td>
            </tr>
            <tr>
              <th>Adults</th>
              <td id="cell-adults-count"></td>
              <th>Children</th>
              <td id="cell-children-count"></td>
              <th>Last Distribution</th>
              <td id="cell-last-distribution"></td>
            </tr>
          </table>
          <a href="#" id="add-distribution"><button class="btn btn-primary" name="button">+ Add Distribution</button></a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="js/verhoeff.js"></script>
  <script type="text/javascript">

    function disableButton(){
      $("#search").prop('disabled', true)
      $("#search").removeClass('btn-primary')
    }
    function enableButton(){
      $("#search").prop('disabled', false);
      $("#search").addClass('btn-primary')
    }

    $("#uuid").keyup(function(){
      if($("#uuid").val().length == 12){
        $("#search").val("Search");
        enableButton();
      }else{
        $("#search").val("Enter a valid Aadhaar number");
        disableButton();
      }
    });

    $('#search').click(function(){

      uuid = $("#uuid").val()
      $.ajax({
        url: "/api/family/"+uuid,
        contentType: 'application/json',
        beforeSend: function(){

          disableButton();
          $("#loading-icon").css('display', 'block');
        },
        success: function(data){
          enableButton();
          $("#loading-icon").css('display', 'none');

          if(data == null){
            $('#result-card').css('display', 'none');
            alert("Not Found")
          }else{

            $('#result-card').css('display', 'block');

            /*
            adults_count: 3
​
            children_count: 1
            ​
            gut_number: 12
            ​
            layout: "NA"
            ​
            mobile_number: 9975666872
            ​
            mouza: "NA"
            ​
            name: "Daniyaal Khan"
            ​
            occupation: "AAS"
            ​
            plot_number: 58
            ​
            uuid: 630143990613
            */

            $("#cell-adults-count").text(data.adults_count);
            $("#cell-children-count").text(data.children_count);
            $("#cell-gut-number").text(data.gut_number);
            $("#cell-layout").text(data.layout);
            $("#cell-mobile-number").text(data.mobile_number);
            $("#cell-mouza").text(data.mouza);
            $("#cell-name").text(data.name);
            $("#cell-occupation").text(data.occupation);
            $("#cell-plot-number").text(data.plot_number);
            $("#cell-uuid").text(data.uuid);
            $("#cell-last-distribution").text(data.time);

            $("#add-distribution").prop("href", "/add-distribution/"+data.uuid)
          }
        }
      });
    });

  </script>
{% endblock %}
